.paginator-container {
  display: inline-block;
  margin-left: 20px;

  .paginator {
    display: inline-block;
    margin: 0;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 10px;

      a {
        color: #35303a;
        font-weight: 300;
        cursor: pointer;

        &.current {
          color: $unidex-blue-dark;
          pointer-events: none !important;
          font-weight: 700;
        }

        &.prev,
        &.next {
          background-color: $unidex-yellow-dark;
          border: 1px solid white;
          color: white;
          padding: 4px 8px 5px 8px;
        }

        &:hover {
          &.prev,
          &.next {
            background-color: $unidex-yellow-light;
          }
        }

        &.prev img,
        &.next img {
          width: 10px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.bottom {
    display: block;
    width: 100%;
    border-top: 2px solid $unidex-yellow-dark;
    position: relative;
    text-align: right;
    padding: 10px 0 80px;
    margin-left: 0;
  }
}

#pagination-wraper {
  max-width: 1024px;
  overflow: hidden;
  margin: 0 auto;
}

.ui-effects-placeholder {
  float: left !important;
  margin-bottom: 40px !important;
}

[data-id="categories"] .ui-effects-placeholder {
  margin-bottom: 0 !important;
}

.ui-effects-placeholder::after {
  float: none !important;
}
